# Exclude training images and large data
train_images/
debuging_functions

dataset.csv

# Octave/Matlab specific cache or backup files
*.mat
*.asv
*.octave_hist

# Hidden system files
.DS_Store
Thumbs.db
