# Exclude training images and large data
train_images/
debuging_functions/
dataset.csv

# Octave/Matlab specific files
*.mat
*.asv
*.octave_hist
*.fig
*.autosave
*.tmp

# Hidden system files
.DS_Store
Thumbs.db
